{% extends 'vagas/base.html' %}
{% load widget_tweaks %}  <!-- pode ser colocado na pagina template base -->
{% block title %}Login{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {% if form.errors %}
    <strong style="color:red;">Erro:</strong> Verifique seu nome de usuário e senha.
  {% endif %}
  <div class ="mb-3">
    <label for="username" class="form-label"></label>
    <input type="text" name="username" id="username" class="form-control">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label"></label>
    <input type="password" name="password" id="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Entrar</button>
  <a href="{% url 'vagas-list' %}" class="btn btn-secondary">Cancelar</a>

  {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
          <div class="my-3 alert alert-danger">
              {{ error }}
          </div>
      {% endfor %}
  {% endif %}
</form>
<p class="mt-3">
  <a href="{% url 'signup_candidato' %}" class="btn btn-info">Cadastro Candidato</a>
  <a href="{% url 'signup_empresa' %}" class="btn btn-info">Cadastro Empresa</a>
</p>
{% endblock %}